.venv/
dist/
build/
OLD/
data/
stock_trader_deepseek.spec
*.log
test.py
venv64/
log
__pycache__/
*.pyc
.venv/
gboost_model.pkl
scaler.pkl
vi_stock_data.db
mylist.db
cnn_model.keras
cnn_scaler.pkl
settings.ini
